<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Giggle Search</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div id="content">
<img src="static/images/HOME_SEARCH.png">
<form method="post" action="search">
<table align="center">
<tr><td><input type="text" name="q" id="search"/></td>
<td>
<input type="submit" name="search_btn" value="Search" id="searchbtn"/></td></tr>
</tr>
</table>
</form>
</div>
</body>
</html> 
